.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    background-color: #f4f4f4;
    direction: rtl;
  }
  
  .dropdown-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
  }
  
  .dropdown-group label {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 26px;
    color: #333;
  }
 
  .dropdown-group option{
    font-weight: 500;
    font-size: 19px;
    color: #333;
  }
  
  .dropdown-group select {
    width: 100%;
    padding: 10px 45px;
    border-radius: 999px;
    border: 1px solid #ccc;
    font-size: 20px;
    text-align: right;
    background-color: #fff;
    appearance: none;
    font-weight: 500;
    border: 0.5px solid green;
 
  }
  
  .search-button {
    background-color:rgb(240, 128, 128);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: fit-content;
    align-self: center;
    margin-top: 38px;
  }
  
  .search-button:hover {
    background-color: rgb(260, 148, 148);
  }
  
  /* Responsive: stack on small screens */
  @media (max-width: 767px) {
    .dropdown-container {
      flex-direction: column;
      align-items: center;
    }
  
    .dropdown-group {
      width: 90%;
    }
  
    .search-button {
      width: 90%;
      margin-top: 12px;
    }
  }
  .sss{
    position: relative;
  }
  .sss img{
    border-radius: 12px;
  }
.sss .tes{
    position: absolute;
    color: white;
    bottom: 35px;
    right: 125px;
}
.tes p{
  font-size: 22px;
}
.custom-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  background-color: white;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.card-image-wrapper {
  position: relative;
  height: 200px;
  width: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: rgba(240, 128, 128, 0.85); /* 🔴 قرمز روشن با شفافیت */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.card-footer {
  padding: 10px;
  text-align: center;
}

.view-btn {
  background-color: rgb(240, 128, 128);
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}

.view-btn:hover {
  background-color: rgb(220, 100, 100);
}
